# Ignore virtual environments
.venv/
venv/

# Ignore model files and datasets
*.h5
*.csv
*.pkl
*.zip

# Ignore Python cache and system files
__pycache__/
*.pyc
.DS_Store
Thumbs.db

# Ignore environment and IDE settings
.env
.vscode/
.idea/
